<div class="card">
  <div class="card-body">
    <div class="toolbar">
    </div>
    <div class="material-datatables" >
      <table id="precinctsTable" class="table table-striped table-no-bordered table-hover"
        cellspacing="0" width="100%" style="width:100%">
        <thead>
          <tr>
            <th>{{ precinctTableData.headerRow[0] }}</th>
            <th>{{ precinctTableData.headerRow[1] }}</th>
            <th>{{ precinctTableData.headerRow[2] }}</th>
            <th class="text-center">{{ precinctTableData.headerRow[3] }}</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>{{ precinctTableData.footerRow[0] }}</th>
            <th>{{ precinctTableData.footerRow[1] }}</th>
            <th>{{ precinctTableData.footerRow[2] }}</th>
            <th>{{ precinctTableData.footerRow[3] }}</th>
          </tr>
        </tfoot>
        <tbody>
          @for (row of suborganizationList$ | async; track row) {
            <tr>
              <td>{{row.categoryName}}</td>
              <td>{{row.commonName}}</td>
              <td>{{row.description}}</td>
              <td class="text-center">
                <button mat-raised-button type="button" class="btn btn-success btn-link"
                  matTooltip="View Allocated Positions" [matTooltipPosition]="'above'"
                  (click)="selectSuborganization(row)" [routerLink]="['/suborganizations/assignments', row.id]">
                  <i class="material-icons">arrow_forward_ios</i>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>