<div class="card ">
  <div class="card-header card-header-warning card-header-icon">
    <div class="card-icon">
      <i class="material-icons">search</i>
    </div>
    <h4 class="card-title">Name Search</h4>
  </div>
  <div class="card-body ">
    <form [formGroup]="assignmentSearch">
      <mat-form-field class="example-full-width" [ngClass]="{'has-success':validFirstName===true}">
        <input matInput
               placeholder="First Name *"
               type="text"
               formControlName="firstName"
               (ngModelChange)="firstNameValidation($event)">
        <app-field-error-display [displayError]="isFieldValid(assignmentSearch, 'firstName')"
                                 errorMsg="Enter a valid first name.">
        </app-field-error-display>
      </mat-form-field>
      <mat-form-field class="example-full-width"
                      [ngClass]="{'has-success':validLastName===true}">
        <input matInput
               placeholder="Last Name *"
               type="text"
               formControlName="lastName"
               (ngModelChange)="lastNameValidation($event)"
               (keyup.enter)="onSearchClicked($event)">
        <app-field-error-display [displayError]="isFieldValid(assignmentSearch, 'lastName')"
                                 errorMsg="Enter a valid last name.">
        </app-field-error-display>
      </mat-form-field>
      <div class="category form-category">* Required fields</div>
    </form>
  </div>
  <div class="card-footer ">
    <button mat-raised-button type="submit"
            class="btn btn-fill btn-warning"
            [disabled]="!this.assignmentSearch.valid"
            (click)="onSearchClicked($event)"
            (keyup.enter)="onSearchClicked($event.target.value)">
      <i class="material-icons">search</i>
      Search
    </button>
  </div>
</div>
