<ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" [routerLink]="['./quick-search']" role="tablist">
      <i class="material-icons">search</i>Quick Search
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['./advanced-search']" role="tablist">
      <i class="material-icons">youtube_searched_for</i> Advanced Search
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" [routerLink]="['./add']"  role="tablist">
      <i class="material-icons">person_add</i> Add Citizen
    </a>
  </li>
</ul>