<div class="main-content">
  <div class="container-fluid">
    <div class="header text-center">
      <h3 class="title">Salt Lake County Republican Party</h3>
      <p class="category">Key facts</p>
    </div>

    <div class="row">
      <!--People-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <p class="card-category">People</p>
            <h3 class="card-title">184,920</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <!--Suborganizations-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group_work</i>
            </div>
            <p class="card-category">Suborgs.</p>
            <h3 class="card-title">970</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 6 Months
            </div>
          </div>
        </div>
      </div>
      <!--Email contacts-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contact_mail</i>
            </div>
            <p class="card-category">Email Contacts</p>
            <h3 class="card-title">3,250</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <!--Phone contacts-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">contact_phone</i>
            </div>
            <p class="card-category">Phone Contacts</p>
            <h3 class="card-title">4,675</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <!--app users-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mobile_friendly</i>
            </div>
            <p class="card-category">App Users</p>
            <h3 class="card-title">768</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>
      <!--positions-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment_ind</i>
            </div>
            <p class="card-category">Positions Assigned</p>
            <h3 class="card-title">2,750</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 2 years
            </div>
          </div>
        </div>
      </div>
      <!--emails sent-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">email</i>
            </div>
            <p class="card-category">Emails Sent</p>
            <h3 class="card-title">8,950</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 30 days
            </div>
          </div>
        </div>
      </div>
      <!--suborganizations..event attendees-->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">event_seat</i>
            </div>
            <p class="card-category">Event Attendees</p>
            <h3 class="card-title">12,250</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 6 Months
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
