@if (isPositionSelected) {
  <div>
    <h4 class="card-title">Position {{(positionToAssign$ | async).positionName}}</h4>
    @if (isSuborganizationSelected) {
      <div>
        <h4 class="card-description">In suborganization {{selectedSuborganization.commonName}}</h4>
        <div>
          <button class="btn btn-warning"
            (click)="showQuickSearch()">
            <i class="material-icons">search</i>
            Quick Search
          </button>
          <button class="btn btn-warning"
            (click)="showAdvancedSearch()">
            <i class="material-icons">youtube_searched_for</i>
            Advanced Search
          </button>
          <button class="btn btn-warning"
            (click)="showAddCitizen()">
            <i class="material-icons">person_add</i>
            Add Citizen
          </button>
          @if (isQuickSearching) {
            <app-quick-search
              (onSearch)="quickSearch($event)">
            </app-quick-search>
          }
          @if (isAdvancedSearching) {
            <app-advanced-search
              (onSearch)="advancedSearch($event)">
            </app-advanced-search>
          }
          @if (isAddingCitizen) {
            <app-citizen-form
              [isUpdating]="false"
              (onChange)="addCitizen($event)" >
            </app-citizen-form>
          }
        </div>
        @if (isSelecting) {
          <app-citizen-selection-list
            [searchResults]="citizenSearchResults"
            (onSelect)="selectCitizen($event)">
          </app-citizen-selection-list>
        }
        @if (isAssigning) {
          <app-assignment-form
            [suborganization]="selectedSuborganization"
            [positionToFill]="selectedPosition"
            [initCitizen]="initCitizen"
            (onAssign)="assignPosition($event)">
          </app-assignment-form>
        }
      </div>
    }
  </div>
}
