<footer class="footer ">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://veti.io">
            Veti Technologies
          </a>
        </li>
        <li>
          <img src="/assets/img/positivessl_trust_seal_lg_222x54.png" width="92" height="22" />
        </li>
<!--        <li>-->
<!--          <a href="http://veti.io/about">-->
<!--            About Us-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="http://blog.veti.io">-->
<!--            Blog-->
<!--          </a>-->
<!--        </li>-->
      </ul>
    </nav>
    <div class="copyright pull-right">
      version {{version}} &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="https://veti.io" target="_blank">Veti Technologies</a>.
    </div>
  </div>
</footer>
